
<table class="table table-striped table-secondary">
    <thead> 
       <h5>BRANDS</h5>
        <tr class="table-secondary">
            <th>Marka Id:</th>
            <th>Marka İsmi:</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brand" [class]="getCurrentBrand(brand)" (click)="setCurrentBrand(brand)" routerLink="/brands/cars/{{brand.name}}">
                <td>{{brand.id}}</td>
                <td >{{brand.name}}</td>
            </tr>
        </tbody>
</table>
<h5 *ngIf="currentBrand">{{currentBrand.name}} seçtiniz</h5>